    <input type="checkbox" name="panel-toggle" id="panel-toggle" class="panel-toggle hidden">

    <section id="sidebar" class="rounded bg-zinc-800 fixed w-full md:w-1/2 top-0 bottom-0 overflow-y-auto transition-all duration-200 ease-in">
      <header class="rounded shadow-lg bg-zinc-900 w-full h-10 flex items-center justify-left">
        <label for="panel-toggle" class="cursor-pointer inline ml-6">
          <img src="/images/close.png" width="17" height="17" alt="Toggle menu." loading="lazy">
        </label>
      </header>

      <div class="text-white">
        <div class="flex flex-col md:flex-row items-center justify-center p-6 border-b-4 border-zinc-900">

          <a href="/" class="block md:pr-6">
            <img src="{% imgproxy_url path: '/images/photos/joel.png', width: 100, height: 100 %}"
                 alt="A photo of me, Joel Oliveira, smiling."
                 width="100" height="100"
                 loading="lazy" class="rounded-full md:w-48 mb-4 md:mb-auto max-w-24">
          </a>

          <div class="text-center md:text-left">
            <h1 class="text-lg mb-2">Hello, I'm Joel. Hi! 👋</h1>
            <p class="font-serif text-sm text-gray-400 pr-3 md:pr-10">
              An engineering manager in Boston.
              Lapsed "tweeter" at <a href="https://twitter.com/jayroh" class="text-white">@jayroh</a>.
              Here I write about my family, my (bull)dogs, code and technology, and working on a little passion project named
              <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app" class="text-white">shubox</a>.
            </p>
          </div>
        </div>

        {% assign years= "2022|2021|2016|2014|2013|2012|2011|2010|2009|2008|2007|2006" | split: "|" %}
        {% for year in years %}
          <div class="year">
            <h2 class="border-b border-stone-500 px-6 py-2 text-lg">
              <label for="for_{{ year }}" class="cursor-pointer">Articles from {{ year }}</label>
            </h2>

            <input type="checkbox" id="for_{{ year }}" name="for_{{ year }}" class="toggle-year hidden">

            <ul class="block max-h-0 overflow-hidden transition-all duration-200 ease-in">
              {% for post in site.posts %}
                {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
                {% if post_year == year %}
                  <li><a href="{{ post.url }}" class="text-sm px-6 py-1 block hover:bg-zinc-900">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}

        <div class="fin"></div>
      </div>
    </section>

