---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('./fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'),
      url('./fonts/roboto-condensed-v25-latin-regular.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 400;
    src: local(''),
      url('./fonts/roboto-condensed-v25-latin-italic.woff2') format('woff2'),
      url('./fonts/roboto-condensed-v25-latin-italic.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto-Condensed';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('./fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'),
      url('./fonts/roboto-condensed-v25-latin-700.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto-Condensed';
    font-style: italic;
    font-weight: 700;
    src: local(''),
      url('./fonts/roboto-condensed-v25-latin-700italic.woff2') format('woff2'),
      url('./fonts/roboto-condensed-v25-latin-700italic.woff') format('woff');
    font-display: swap;
  }

  a {
    @apply transition-colors ease-in duration-200;
  }

  a:hover {
    @apply text-light-blue-500;
  }

  .photo-with-caption {
    @apply w-full mb-6;
  }

  .photo-with-caption picture,
  .photo-with-caption img {
    @apply w-full h-auto rounded-t-lg;
  }

  .photo-with-caption figcaption {
    @apply rounded-b-lg bg-gray-100 p-2 text-center text-gray-400 italic;
  }

  article {
    @apply pt-9;
  }

  article h1 {
    @apply text-4xl text-center border-solid border-b border-gray-100 pb-4 text-balance;
  }

  article hr {
    @apply my-6;
  }

  article h2 {
    @apply text-gray-400 uppercase my-4 tracking-widest font-medium text-xl;
  }

  article h3 {
    @apply font-serif text-sm text-center text-gray-400 font-light italic mb-6 mt-2;
  }

  article p,
  article li {
    @apply font-serif text-gray-600 text-lg;
  }

  article p {
    @apply mb-4;
  }

  article ul {
    @apply pl-6 list-disc my-4;
  }

  article ol {
    @apply list-decimal list-outside pl-5 mb-4;
  }

  article li {
    @apply mb-2;
  }

  article pre {
    @apply bg-gray-100 px-5 py-4 rounded-lg text-gray-500 mb-5 whitespace-pre-wrap overflow-hidden text-sm md:text-base;
  }

  article blockquote {
    @apply px-5 py-2 border-l-4 border-solid border-gray-400 bg-gray-100 mb-4;
  }

  .pull-quote {
    @apply border-l-0 border-b-4 w-4/5 md:w-1/2 md:float-right md:-mr-8 px-8 py-6 m-auto mb-4 md:ml-8 md:mb-2;
  }

  article blockquote p {
    @apply mb-0;
  }

  article blockquote p ~ p {
    @apply mt-4;
  }

  article picture ~ p {
    @apply mt-4;
  }

  li > code,
  p > code {
    @apply bg-gray-100 text-gray-500 text-base px-2 py-1 rounded;
  }

  figcaption a,
  li a,
  p a {
    @apply border-solid border-blue-200 border-b-2 px-1;
  }

  p a:hover {
    @apply bg-blue-50;
  }

  sup a {
    @apply border-none;
    @apply bg-blue-50;
  }

  p:target {
    @apply border-solid border-b-2 border-yellow-500 bg-yellow-100 px-3 py-1;
  }

  .panel-toggle ~ section {
    @apply left-full;
  }
}
