<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Joel Oliveira">
    <meta name="description" content="A software engineer in Boston working for thoughtbot inc. writing mostly ruby. He loves beer and bulldogs and his family.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xei1yff.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="blog">
    <!--[if lt IE 7]>
      <p class="chromeframe">
        You are using an outdated browser.
        <a href="http://browsehappy.com/">Upgrade your browser today</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google
          Chrome Frame</a> to better experience this site.
      </p>
    <![endif]-->

    <header class="global">
      <div class="container">
        <h1><a href="/">Joel <span>sometimes</span> Jayroh</a></h1>
        <a href="#" class="menu">menu</a>
      </div>
    </header>

    <section class="main">
      <div class="container">
        {{ content }}
      </div>
    </section>
  </body>
</html>
