<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="Joel Oliveira">
    {% if page.intro %}
    <meta name="description" content="{{ page.intro }}">
    {% else %}
      <meta name="description" content="A software engineer in Boston writing mostly ruby. He loves beer and bulldogs and his family.">
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <link rel="alternate" type="application/rss+xml" title="Joel Oliveira &raquo; Feed" href="http://www.joeloliveira.com/rss.xml" />
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">

    {% if page.title %}
      <meta property="og:type" content="article" />
      <meta property="og:title" content="{{ page.title }}" />
    {% else %}
      <meta property="og:type" content="website" />
    {% endif %}

    {% if site.title %}
      <meta property="og:site_name" content="{{ site.title }}" />
    {% endif %}

    {% if page.url %}
      <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% endif %}

    {% if page.date %}
      <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
    {% endif %}

    {% if site.owner_link %}
      <meta property="article:author" content="{{ site.owner_link }}" />
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700|Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
  </head>
  <body class="blog{% if page.id %} post{% endif %}">
    <header class="global">
      <div class="container">
        <h1><a href="/">Joel<span>, (always one syllable), often "@jayroh"</span></a></h1>
        <a href="#" class="menu">menu</a>
      </div>
    </header>

    <section class="main">
      <div class="container">
        {{ content }}
      </div>
    </section>

    <section class="panel">
      <header>
        <a class="close" href="#">close</a>
      </header>

      <div class="contents">
        <div class="about">
          <a href="/">
            <img src="/images/joel.png" alt="Joel Oliveira" />
          </a>
          <div class="bio">
            <h1>Hi, I'm Joel.</h1>
            <p>
              An engineering manager in Boston. Lapsed "tweeter" at
              <a href="https://twitter.com/jayroh">@jayroh</a>. Thinking
              about family, my (bull)dogs, code, comics, and building things like
              <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app">shubox</a>.
            </p>
          </div>
        </div>

        {% assign years= "2022|2021|2016|2014|2013|2012|2011|2010|2009|2008|2007|2006" | split: "|" %}
        {% for year in years %}
          <div class="year">
            <h2>Articles from {{ year }}</h2>
            <ul>
              {% for post in site.posts %}
                {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
                {% if post_year == year %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}

        <div class="fin"></div>
      </div>
    </section>
    <script src="/javascripts/main-min.js"></script>
    <script>
      coded = "eCbv@4VjJC6.WC"
      key = "lgB2tTU7HZjwdCvDsaYGQIkqef95Sx4hO0XAKmbNP3i6yVEpM8rnJcz1WLuFRo"
      shift = coded.length
      link = ""
      email_me = $('.email-me')

      if(email_me.length) {
        for (i=0; i<coded.length; i++) {
          if (key.indexOf(coded.charAt(i))==-1) {
            ltr = coded.charAt(i)
            link += (ltr)
          } else {
            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
            link += (key.charAt(ltr))
          }
        }

        email_me.replaceWith("<a href='mailto:"+link+"'>email me directly</a>");
      }
    </script>

    <script>
      var _gaq=[['_setAccount','UA-2546531-2'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
