---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <h3>{{ page.date | date_to_string }}</h3>

  {{ content }}

  <form action="//shubox.us12.list-manage.com/subscribe/post?u=a3a4a889a5f3ff0320a62c23b&amp;id=12b17c8654"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="text-center bg-gray-100 rounded-lg p-8 mt-8"
      target="_blank"
      novalidate>

    <h4 class="font-bold text-gray-700 mb-4">
      I'm working on something called
      <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app">shubox.io</a>!
    </h4>

    <p>
      Want to know more about it? (Answer: "Yes. I do")<br class="hidden md:block">
      <a href="https://shubox.io?utm_source=joeloliveira&utm_medium=web&utm_campaign=sister_app">Check it</a>
      out or sign up for my newsletter to receive news,<br class="hidden md:block">
      announcements and other good bits!
    </p>

    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group input">
        <label for="mce-EMAIL" class="mt-2">your email address: </label>
        <input type="email" value="" name="EMAIL"
          class="required email rounded border-solid border-gray-400 border text-center mt-2" required="true" id="mce-EMAIL"
          placeholder="example@email.com">
        <input type="submit" value="subscribe" name="subscribe"
          id="mc-embedded-subscribe" class="button rounded border-solid border-gray-400 border text-center px-4 mt-2">
      </div>

      <div id="mce-responses">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_a3a4a889a5f3ff0320a62c23b_12b17c8654"
          tabindex="-1" value="">
      </div>
    </div>
  </form>
</article>

<footer class="text-center flex flex-row items-center justify-center my-8 px-4">
  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{% imgproxy_url path: '/images/photos/joel.png', width: 64, height: 64, format: 'avif' %}" type="image/avif" />
    <source srcset="{% imgproxy_url path: '/images/photos/joel.png', width: 64, height: 64, format: 'webp' %}" type="image/webp" />

    <!--[if IE 9]></video><![endif]-->
    <img src="{% imgproxy_url path: '/images/photos/joel.png', width: 64, height: 64 %}"
      class="lazyload rounded-full inline-block mr-4"
      alt="A photo of me, Joel Oliveira, smiling."
      width="64"
      height="64" />
  </picture>
  <p>
    Have feedback? Sometimes I check twitter (<a href="https://twitter.com/jayroh" class="underline hover:bg-blue-50">@jayroh</a>). Contact me there.
  </p>
</footer>
